<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Icons/favicon.png">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="~/Content/Css/sidebar-nav.min.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="~/Content/Css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="~/Content/Css/blue.css" rel="stylesheet" />
    <!-- Sweet Alert -->
    <link href="~/Content/Css/sweetalert2.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-close ti-menu ti-menu"></i></a>
                <div class="top-left-part">
                    <a class="logo" href="@Url.Action("Index","Satis")">
                    <b><img src="~/Content/Icons/eliteadmin-logo.png" alt="home" /></b>
                    <span class="hidden-xs">
                        <img src="~/Content/Icons/eliteadmin-text.png" alt="home" />
                    </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                        </a>
                    </li>
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Ara..." class="form-control">
                            <a href=""><span class="glyphicon glyphicon-search"></span></a>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="icon-envelope"></i>
                            <div class="notify">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu mailbox animated bounceInDown">
                            <li>
                                <div class="drop-title">4 mesajın var!</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img"> 
                                            <img src="~/Content/Users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>İbrahim Çakal</h5>
                                            <span class="mail-desc">Yeni kullanıcı Ekledi</span> <span class="time">9:10 AM</span>
                                        </div>
                                    </a> 
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Content/Users/arijit.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Mehmet Sarı</h5>
                                            <span class="mail-desc">Yeni bir ürün ekledi!</span> <span class="time">9:08 AM</span>
                                        </div>
                                    </a> 
                                </div>
                            </li>
                            <li> <a class="text-center" href="javascript:void(0);"> <strong>Tüm Bildirimleri Gör</strong> <i class="fa fa-angle-right"></i> </a></li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="icon-note"></i>
                            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Görev 1</strong> 
                                        <span class="pull-right text-muted">40% Başarılı</span> 
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> 
                                                <span class="sr-only">40% Başarılı (olumlu)</span> 
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p> 
                                            <strong>Görev 2</strong> 
                                            <span class="pull-right text-muted">20% Başarılı</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> 
                                            <span class="sr-only">20% si Bitti</span> 
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li> 
                                <a class="text-center" href="#"> 
                                <strong>Tüm Görevleri Gör</strong> 
                                <i class="fa fa-angle-right"></i> 
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-tasks -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                            <img src="@Request.Cookies["prsnl"]["Resim"]" alt="user-img" width="36" class="img-circle">
                        <b class="hidden-xs">@Request.Cookies["prsnl"]["Ad"]</b> 
                        </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li><a href="#"><i class="ti-user"></i> Profilim</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> İstatistiklerim</a></li>
                            <li><a href="#"><i class="ti-settings"></i> Hesap Ayarları</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("CikisYap","Login")"><i class="fa fa-power-off"></i> Çıkış</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Ara...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i> 
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li class="user-pro">
                        <a href="#" class="waves-effect">
                            <img src="@Request.Cookies["prsnl"]["Resim"]" alt="user-img" class="img-circle">
                            <span class="hide-menu">
                                <b class="hidden-xs">@Request.Cookies["prsnl"]["Ad"] @Request.Cookies["prsnl"]["Soyad"]</b>
                            </span>
                        </a>
                    </li>
                    <li class="nav-small-cap m-t-10">--- MENÜLER</li>
                    <li>
                        <a href="@Url.Action("Index","Istatistik")" class="waves-effect">
                            <span class="glyphicon glyphicon-stats"></span>
                            <span class="hide-menu">
                                &nbsp; İstatistikler
                            </span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Index","Satis")" class="waves-effect">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            <span class="hide-menu">
                                &nbsp; Satış İşlemleri
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="waves-effect">
                            <span class="glyphicon glyphicon-briefcase"></span>
                            <span class="hide-menu">
                                &nbsp; Ürünler<span class="fa arrow"></span>
                            </span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a href="@Url.Action("Index","Urun")">Stokda Bulunanlar</a></li>
                            <li><a href="@Url.Action("SatilanUrun","Urun")">Satılmış Ürünler</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Musteri")" class="waves-effect">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hide-menu">
                                &nbsp; Müşteriler
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Personel")" class="waves-effect">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hide-menu">
                                &nbsp; Personeller
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","UyeYonetim")" class="waves-effect">
                            <span class="glyphicon glyphicon-asterisk"></span>
                            <span class="hide-menu">
                                &nbsp; Üye Yönetimi
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <!-- /.container-fluid -->
                <footer class="footer text-center"> 2017 &copy; Tüm Hakları Saklıdır - İbrahim ÇAKAL - Stok Otomasyon </footer>
            </div>
        </div>
        <!-- /#wrapper -->
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Scripts/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Scripts/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/custom.js"></script>
    <!--Style Switcher -->
    <script src="~/Scripts/jQuery.style.switcher.js"></script>
    <!-- Sweet Alert -->
    <script src="~/Scripts/sweetalert2.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

